//main: ../style.less


.about{
	color: white;
	background-color: black;
	display: flex;
	justify-content: space-around;
}


.social-icons{
	text-align: left;
}


.social-icons li{
	display: inline-block;
	list-style-type: none;
}

.social-icons li a {
	border-bottom: none;
}

.social-icons li img {
	width:70px;
	height:70px;
}

.icons:hover{
	opacity: 0.3;
	transition: opacity .6s;
}

.content__aboutmore{
	padding-right: 10rem;
}



.media__foto{
	min-width: auto;
	height: 500px;
}

.about__profession{
	text-align: center;
	font-size: 2rem;
}