//main: ../style.less


.menu{
	margin: 0 auto;
	padding: 0 auto;
}

.menu__content{
	display: flex;
	justify-content: space-between;
}

.menu__item{
	padding-right: 50px;
	list-style-type: none;
	
	a{
	color: fade(white,35%);
	text-transform: uppercase;
	text-decoration: none;
	}
}

.menu__item:hover{
	a{
		color: white;
		transition: color 1s;
	}
}

