//main: ../style.less


@font-face {
    font-family: 'Caviar Dreams';
    src: local('Caviar Dreams'), local('CaviarDreams'), url('caviardreams.woff2') format('woff2'), url('caviardreams.woff') format('woff'), url('caviardreams.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Caviar Dreams';
    src: local('Caviar Dreams Italic'), local('CaviarDreams-Italic'), url('caviardreamsitalic.woff2') format('woff2'), url('caviardreamsitalic.woff') format('woff'), url('caviardreamsitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Caviar Dreams';
    src: local('Caviar Dreams Bold'), local('CaviarDreams-Bold'), url('caviardreamsbold.woff2') format('woff2'), url('caviardreamsbold.woff') format('woff'), url('caviardreamsbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Caviar Dreams';
    src: local('Caviar Dreams Bold Italic'), local('CaviarDreams-BoldItalic'), url('caviardreamsbolditalic.woff2') format('woff2'), url('caviardreamsbolditalic.woff') format('woff'), url('caviardreamsbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}



.burger-menu__button{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 30;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: grey;
}

.burger-menu__button:hover .burger-menu__lines{
	filter: brightness(0.7);

	
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before{
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: white;
}

.burger-menu__lines{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.burger-menu__lines::before{
	content: '';
	top: -8px;
}

.burger-menu__lines::after{
	content: '';
	top: 8px;
}


.burger-menu_active .burger-menu__lines{
	background-color: transparent;
}

.burger-menu_active .burger-menu__lines::before{
	top: 0;
	transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after{
	top: 0;
	transform: rotate(-45deg);
}


.burger-menu__nav{
	padding-top: 80px;
	position: fixed;
	z-index: 20;
	display: flex;
	flex-flow: column;
	height: 100%;
	background-color: grey;
	overflow-y: hidden;
	right: -100%;
	transition: right .6s;
	width: 250px;
}

.burger-menu_active .burger-menu__nav{
	right: 0;
	transition: right .6s;
}

.burger-menu__link{
	padding: 8px;
	font-size: 11px;
	font-family: 'Caviar Dreams';
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	color: white;
}

.burger-menu__link:hover{
	text-shadow: 0 0px 15px white;
	transition: text-shadow .6s;
}

.burger-menu__overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

.burger-menu_active .burger-menu__overlay{
	display: block;
}

